extends layout.pug

block content
	.container
		h1 About
		p If you're not exactly newbie in the crypto world, you've probably heard community plays the important role in crypto projects, especially when it comes to cryptocurrencies and tokens. In fact, there is no project itself without the community, because then there will be no network load, there will not be a proper amount of miners, and on the exchange these units will no longer be in demand.
		p In order not to estimate the capacity of the project only by its capitalization and the current price, the project CoinSocialStory is developed. The main idea is to provide the ability to rank cryptocurrencies and tokens by different social metrics.

		h3 How are indexes calculated?

		p CoinSocialStory offers you to compare coins by several indexes. There are 5 types of indexes for each coin: price index, social index, development index, network index and total index.  Every index indicates an average condition for the coin in one category(price, social, development, etc.).
		ul
			li 
				b Price index
				p Price index shows the activity of exchange trades for a specific coin. Sorting coins on this parameter, you can see what coin is more interesting for people.
			li 
				b Social index
				p The social index is responsible for showing coin's community activity. This indicator is calculated taking into account the time that the project exists and what social activity it has. It is calculated based on the coin community's activity indicators in two social networks: Twitter and Reddit.
			li 
				b Development index
				p The development index shows how quickly the project is changing, both in terms of volume and in terms of the number of developers involved.
			li 
				b Network index
				p The network index is one of the most important indicators of the relevance and viability of the project, because it is with the help of it that coins can be sorted by the "liveliness" of the network itself. This parameter is calculated on the basis of such indicators as the number of nodes in the network, the volume of transactions for the last day, the number of new blocks, etc.
			li 
				b Total index
				p This is the total parameter for all of the above indexes. With its help, the average ranking of crypto-currencies is realized.



			