doctype html
html
	head
		// Global site tag (gtag.js) - Google Analytics
		script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-119522874-1')
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-119522874-1');
		
		meta(name='description', content='CoinSocialStory is a project that provides a information about cryptocurrencies and tokens by several metrics. Powerful tool for analyzing in trade and investment activity.')
		meta(name='keywords', content='crypto, blockchain, currency, cryptocurrency, trade, trading, bitcoin, statistic, analytics, bitcoin, ethereum, eos, ripple, investment, development, reddit, twitter, rating, token, tokens, github, dapp, smart contract, btc, analysis, statistics, dash, coin, digital assets, satoshi nakamoto, price, market cap, 24h volume, index, chart, traffic, network, transaction, node, block, hash rate, hash, txn, cryptography, whitepaper, ico, satoshi, Block reward, Bubble, Client, Cold wallet, Consensus, Cryptotokens, Decentralized, Escrow, Hard fork, HODL, Genesis block, Light client, Oracle, Private key, Public address, Public key, Vitalik Buterin, White paper, litecoin, eth, etc, coinbase, poloniex, ltc, bitcoin cash, bch, fork, market, zcach, monero, decred, nem, tezos, doge, coins, xmr')
		meta(name='author', content='CryptoMeow')
		meta(name='robots', content='index, follow')
		meta(name='revisit-after', content='10 days')
			title Coin Social Story | Find other statistics about cryptocurrencies and tokens ✨
		// cryptocurrency, blockchain, statistics

		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
		link(rel='stylesheet', type='text/css', href='/css/style.css')
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.9/css/all.css', integrity='sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1', crossorigin='anonymous')
		script(defer='', src='https://use.fontawesome.com/releases/v5.0.9/js/all.js', integrity='sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl', crossorigin='anonymous')
		script.
			FontAwesomeConfig = { searchPseudoElements: true };

		script
			include handlers.js
	body
		block header
		
			nav.navbar.navbar-expand-lg.navbar-light.bg-light
				.container-fluid
					a.navbar-brand(href='/') 
						b Coin Social Story
					button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarText', aria-controls='navbarText', aria-expanded='false', aria-label='Toggle navigation')
						span.navbar-toggler-icon
					#navbarText.collapse.navbar-collapse
						ul.navbar-nav.mr-auto
							li.nav-item
								a.nav-link(href='/') Home
							li.nav-item
								a.nav-link(href='/about') About
						span.navbar-text
							| Data updates every hour
		.content
			block content
				
			script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
			script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
			script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')